.nyitva {
    display: flex;
}
.zarva {
    display: none;
}
.navigacio {
    padding: 16px;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    background: #fefefe;
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
    }
}
.navigacio_link {
    color: black;
    padding: 16px;
    text-decoration: none;
}
.hamburger_gomb {
    /* Desktop méreten nem szeretném látni*/
    display: none;

    padding: 16px;
    background: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .hamburger_gomb {
        display: block;
    }

    nav {
        & ul {
            z-index: 10;
            position: absolute;
            left: 0;
            top: 80px;
            width: 100%;
            height: calc(100vh - 80px);
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 40px;
        }
    }
}